@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff");
  src: url("../fonts/opensanslight.woff2");
  font-style: normal;
  font-weight: 300;
}
