html,
.body {
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 2560px;

  @include font($font-size-normal, 18px, 300, $main-font-color);
  background-color: $page-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visualy-hidden:not(:focus):not(:active) {
  @include visualy-hidden;
}

@media (min-width: $tablet-width) {
  html,
  .body {
    min-width: 660px;
    // width: $tablet-width;
  }
}

@media (min-width: $min-desktop-width) {
  html,
  .body {
    min-width: 960px;
    // width: $desktop-width;
  }
}
