html,
.body {
  font-family: "Open Sans", "Arial", sans-serif;

  @include font($font-size-normal, 18px, 300, $main-font-color);
  background-color: $page-color;
  box-sizing: border-box;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
.body {
  width: 320px;
}

@media (min-width: 660px) {
  html,
  .body {
    width: 660px;
  }
}
@media (min-width: 1200px) {
  html,
  .body {
    width: 960px;
  }
}
