.html,
.body {
  font-family: "Open Sans", "Arial", sans-serif;

  @include font($font-size-normal, 18px, 300, $main-font-color);
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
//
// img {
//   max-width: 100%;
// }
