@mixin visualy-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin flex ($flex-direction, $justify-content, $align-items, $wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
  /*@include flex (row, flex-start, stretch, nowrap);*/
}

@mixin padding-lr ($padding-left-right) {
  padding-left: $padding-left-right;
  padding-right: $padding-left-right;
}

@mixin padding-tb ($padding-top-bottom) {
  padding-top: $padding-top-bottom;
  padding-bottom: $padding-top-bottom;
}

@mixin margin-lr ($margin-left-right) {
  margin-left: $margin-left-right;
  margin-right: $margin-left-right;
}

@mixin margin-tb ($margin-top-bottom) {
  margin-top: $margin-top-bottom;
  margin-bottom: $margin-top-bottom;
}

@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin min-size ($width, $min-height) {
  width: $width;
  min-height: $min-height;
}

@mixin font($font-size: $font-size-normal, $line-height: $font-size * 1.2, $font-weight: 400, $font-color: $main-font-color) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin zero-indent {
  margin: 0;
  padding: 0;
}

@mixin list-style-none {
  @include zero-indent;
  list-style: none;
}

@mixin link-decoration {
  text-decoration: none;
}
