$main-font-color: #283645;
$contrast-font-color: #ffffff;
$contacts-font-color: #d22856;
$name-font-color: #000000;
$form-button-color: #2aab6d;

$font-size-normal: 14px;
$font-size-little: $font-size-normal - 2px;
$font-size-medium: $font-size-normal + 4px;
$font-size-big: $font-size-normal + 10px;
$font-size-tablet-tittle: ($font-size-big * 2) + 2;

$page-color: #ffffff;
$menu-main-color: #283446;
$card-color: #f2f2f2;
