.advantages {
  @include list-style-none;
  background-color: $card-color;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 30px;
}

.advantages__item {
  @include list-style-none;
}

.advantages__tittle {
  @include font($font-size-medium, 24px, 700, $name-font-color);
  color: black;
}

.advantages__description {
  @include font($font-size-normal, 24px, 400, $main-font-color);
}

@media (min-width: 660px) {
  .advantages__wrapper {
    width: 50%;
  }
}
