.form-button {
  @include font($font-size-medium, 30px, 700, $contrast-font-color);
  text-transform: uppercase;
  border: 2px solid $form-button-color;
  background-color: $form-button-color;
  text-align: center;
}

.round-button {
  display: block;
  margin: auto;

  @include size(281px, 55px);
  background-color: transparent;
  border: 3px solid $contacts-font-color;
  border-radius: 30px;

  &-disabled {
    border-color: lighten($main-font-color, 70%);
    // border-color: rgba(40, 54, 69, 0.1);
  }
  padding-top: 17px;
  padding-left: 40px;
  padding-right: 40px;
}
