.contest {
  z-index: 3;
  margin-top: -14px;
  margin-bottom: 30px;
  padding-top: 24px;
  background-color: $page-color;
}

.contest__tittle {
  @include visualy-hidden;
}

@media (min-width: $tablet-width) {
  .contest {
    @include padding-lr (22px);
    padding-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .contest {
    @include padding-lr ($padding-desktop);
    padding-top: 0;
    margin-bottom: 0;
  }
}
