.contest {
  background-color: inherit;
  margin-top: -14px;
  margin-bottom: 30px;
  background-color: $page-color;
  z-index: 3;
  padding-top: 24px;
}

.contest__tittle {
  @include visualy-hidden
}

.cotnest__form {
  // padding-top: 49px;
}

@media (min-width: $tablet-width) {
  .contest {
    padding-top: 0;
    @include padding-lr (22px);
  }
}
