.effect {
  display: none;
  background-color: $page-color;
  margin-top: 60px;
}

@media (min-width: $tablet-width) {
  .effect {
    @include flex (row, flex-start, stretch, wrap);
    @include min-size (100%, 222px);

    &::before {
      content: "";
      display: block;
      @include size (238px, 276px);
      margin-left: 70px
    }
  }

  .effect__review {
    @include flex (column, space-between, stretch, nowrap);

    text-align: left;
    width: 50%;
  }

  .effect__tittle {
    @include font(30px, 36px, 700, $name-font-color);
  }

  .effect__text {
    @include font($font-size-medium, 24px, 400, $main-font-color);
  }

  .effect__link {
    @include font($font-size-normal, 10px, 400, $contacts-font-color);
    @include list-style-none;
    text-decoration: underline;
  }
}

@media (min-width: $min-desktop-width) {
  .effect {
    @include min-size (100%, 429px);

    &::before {
      @include size (298px, 276px);
    }
  }

  .effect__review {
    @include flex (column, center, stretch, nowrap);
    text-align: left;
    width: 525px;
  }

  .effect__tittle,
  .effect__text {
    margin-bottom: 20px;
  }

  .effect__text {
    @include font($font-size-medium, 30px, 400, $main-font-color);
  }

  .effect__link {
    @include font($font-size-medium, 30px, 400, $contacts-font-color);
  }
}
