.form {
  @include flex (column, flex-start, stretch, nowrap);
}

.form__name > *,
.form__contacts > * {
  padding-top: 28px;
}

.form__name legend,
.form__contacts legend {
  display: none;
}

.form__achievements > *,
.form__your-app > * {
  padding-top: 40px;
}

.form__name,
.form__achievements,
.form__contacts,
.form__your-app,
.form__description {
  border: none;
  padding-bottom: 44px;
  @include padding-lr (22px);
  text-align: left;
  @include flex (column, flex-start, flex-start, nowrap);

}

.form__label-text {
  @include font($font-size-normal, 30px, 400, $contacts-font-color);
  text-transform: uppercase;
}

.form__input-text {
  @include font($font-size-medium, 30px, 400, $main-font-color);
  @include size (276px, 59px);
  @include padding-lr (20px);
}

.form__text {
  @include font($font-size-normal, 18px, 400, $contacts-font-color);
  text-transform: uppercase;
  text-align: center;
}

.form__label-checkbox,
.form__label-radio {
  @include font($font-size-medium, 30px, 400, $main-font-color);
}

.form__your-app,
.form__achievements {
  background-color: $card-color;
}

.form__description {
  padding-top: 41px;
}

.form__textarea {
  @include font($font-size-medium, 30px, 400, $main-font-color);
  @include size (276px, 197px);
  margin-top: 19px
}

.form__small {
  @include font($font-size-normal, 30px, 400, $main-font-color);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.form__button {
  @include font($font-size-medium, 30px, 700, $contrast-font-color);
  @include min-size ($mobile-width - 22px *2, 63px); /*@include margin-lr (22px);*/
}

@media (min-width: $tablet-width) {
  .form {
    @include flex (row, center, baseline, wrap);

  }

  .form__name .form__label-text {
    @include flex (row, space-between, baseline, nowrap);
    width: $tablet-width - 4px - $padding-form * 2;
  }

  .form__name .form__input-text {
    margin-left: 22px;
    flex-grow: 2;
  }

  .form__name,
  .form__achievements,
  .form__contacts,
  .form__your-app,
  .form__description {
    background-color: $page-color;
    @include padding-lr (0);
    @include padding-tb (0);
    margin-bottom: 50px;
    flex-basis: $tablet-width - $padding-form *2;
  }

  .form__achievements,
  .form__contacts,
  .form__your-app,
  .form__description {
    @include padding-tb (50px);
    border: 2px solid #e5e5e5;

    & .form__text {
      display: block;
      margin: 0 auto;
      padding-top: 0;
    }
  }

  .form__name {
    order: -10;
  }

  .form__your-app {
    order: -9;
  }

  .form__contacts {
    order: -8;
    padding-bottom: 0px;
  }

  .form__your-app {

  }

  .form__label-radio {
    padding-top: 0;
    margin-bottom: 37px;
    @include padding-lr ($margin-form);

    &:last-child {
      margin-bottom: 0;
    }

    .form__input-checkbox {
      margin-right: 22px;
    }
  }

  .form__contacts .form__label-text {
    @include flex (column, flex-start, flex-start, nowrap);
    width: $tablet-width - $margin-form * 2 -$padding-form * 2 - 4px;
    margin: 0 auto;
    padding-top: 0;
    margin-bottom: 37px;

    &:last-child {
    }
  }

  .form__contacts .form__input-text {
    width: $tablet-width - $margin-form * 2 -$padding-form * 2 - 4px;
    margin-bottom: 16px;
    order: -1;
  }

  .form__label-checkbox {
    padding-top: 0;
    margin-bottom: 37px;
    @include padding-lr ($margin-form);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__input-checkbox {
    margin-right: 34px;
  }

  .form__textarea {
    @include margin-lr ($margin-form);
    @include min-size ($tablet-width - $margin-form * 2 -$padding-form * 2 - 4px, 189px);
    padding: 20px;
  }

  .form__button {
    @include margin-tb (20px);
    margin-left: 0;
    margin-right: auto;
  }

  .form__small {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: $min-desktop-width) {
  .form {
    @include flex (row, space-between, baseline, wrap);
  }

  .form__name,
  .form__achievements,
  .form__contacts,
  .form__your-app,
  .form__description {
    flex-basis: 431px;
  }

  .form__name,
  .form__your-app {
    // flex-shrink: 2;
  }

  .form__contacts {
    @include flex (row, flex-start, flex-start, nowrap);
    padding-top: 44px;
    margin-bottom: 37px;
  }

  .form__contacts .form__label-text {
    @include flex (column, flex-start, flex-start, nowrap);
    width: 371px;
    @include margin-lr ($margin-form);
  }

  .form__contacts .form__input-text {
    width: 100%;
  }

  .form__achievements,
  .form__contacts,
  .form__description {
    min-width: $desktop-width - $padding-desktop * 2;

  }

  .form__name .form__label-text {
    @include flex (row, space-between, baseline, nowrap);
    width: 100%;
  }

  .form__textarea {
    @include min-size ($desktop-width - $margin-form * 2 -$padding-desktop * 2 - 4px, 124px);
  }

  .form__button,
  .form__small {
    margin-bottom: 0;
  }

}
