.get {
  @include padding-lr (20px);
  padding-top: 28px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #1d2531;
}

.get__tittle {
  @include visualy-hidden;
}

.get__button {
  border-color: $contrast-font-color;

  @include font($font-size-medium, 18px, 700, $contrast-font-color);
  @include link-decoration;
}

//.get__platform {
//
//}

.get__text {
  @include padding-lr (8%);
  @include font($font-size-normal, 24px, 300, $contrast-font-color);
}

@media (min-width: $tablet-width) {
  .get {
    width: 320px;
    z-index: 2;
    background-color: transparent;
  }

  .get__text {
    @include padding-lr (20px);
  }
}
