.information {
}

.information__tittle {
  @include visualy-hidden;
}

.information__question {
  margin-left: 34px;
  margin-right: 34px;
  // background-color: $page-color;
}

.information__text {
  display: block;
  padding-bottom: 30px;

  @include font($font-size-big, 24px, 300, $main-font-color);
}

.information__list,
.information__image-background {
  background-color: $card-color;
}
