.information {
  background-color: $card-color;

}

.information__tittle {
  @include visualy-hidden;
}

.information__list,
.information__image {
}

@media (min-width: 660px) {
  .information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }
  .information__image {
    order: -1;
  }
}
