.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -66px;

  @include min-size (320px, 171px);
  padding-top: 30px;
  position: relative;

  &--main{
    // @include min-size(100%, 733px);
    @include flex (column, flex-end, stretch, nowrap);
  }
}

.intro__tittle {
  @include font($font-size-big, 34px, 300, $contrast-font-color);
  @include padding-lr (34px);

  &--main {
    @include visualy-hidden;
  }
}

.intro__slogan {
  display: none;
  @include font(40px, 60px, 300, $contrast-font-color);
}

@media (min-width: $tablet-width) {
  .intro {
    @include min-size ($tablet-width, 330px);
    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -110px;
    // background-size: cover;
    display: block;

    // @include min-size ($tablet-width, 729px);
    padding-top: 45px;

    &--main {
      background-image: url("../img/back-tablet@1x.jpg");

      @include min-size ($tablet-width, 619px);
      padding-top: 100px;

      @include flex (column, center, stretch, wrap);
    }
  }


  .intro__tittle {
    @include font($font-size-tablet-tittle, 50px, 300, $contrast-font-color);
  }

  .intro__slogan {
    display: block;

    @include size (312px, 185px );
}

  .intro__image {
    // order: 2;
    @include size (480px, 550px);
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(33%);
  }
}

@media (min-width: $min-desktop-width) {
  .intro {
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% -110px;

    @include min-size ($desktop-width, 286px);

    &--main {
      @include min-size ($desktop-width, 743px);
      padding-top: 110px;
      @include padding-lr (109px);
    }
  }

  .intro__image {
    // order: 2;
    @include size (700px, 640px);
  }

  .intro__tittle {
    @include padding-lr ($padding-desktop);

  }
}
