.intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;

  @include size (320px, 462px);
  padding-top: 100px;
  position: relative;

  &--main{
    @include min-size(100%, 733px);
    @include flex (column, flex-end, stretch, nowrap);
  }
}

.intro__tittle {
  @include font($font-size-big, 34px, 300, $contrast-font-color);
  @include padding-lr (34px);

  &--main {
    @include visualy-hidden;
  }
}

.intro__slogan {
  display: none;
  @include font(40px, 60px, 300, $contrast-font-color);
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    display: block;

    @include min-size ($tablet-width, 729px);
    padding-top: 180px;
  }

  &--main {
    padding-top: 185px;

    @include flex (column, center, stretch, wrap);
  }

  .intro__tittle {
    @include font($font-size-tablet-tittle, 50px, 300, $contrast-font-color);
  }

  .intro__slogan {
    display: block;

    @include size (312px, 185px );
}

  .intro__image {
    // order: 2;
    @include size (480px, 550px);
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(33%);
  }
}

@media (min-width: $min-desktop-width) {
  .intro {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;

    @include min-size ($desktop-width, 853px);

  }

  .intro__tittle {
    @include padding-lr ($padding-desktop);

  }
}
