.page-header {
  position: relative;
  width: 100%;
  z-index: 10;
  margin-bottom: -66px;
}

.page-header__logo {
  display: block;

  @include size (75px, 69px);
  @include padding-tb (23px);

  @include link-decoration;
  background-color: transparent;
}

.page-header__logo:hover {
  path {
    fill: rgba(210, 40, 86, 1);
  }
}

.page-header__logo:active {
  path {
    fill: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: -109px;
  }

  .page-header__logo {
    display: block;
    position: relative;
    @include size (147px, 109px);
  }
}

@media (min-width: $min-desktop-width) {

}
