.page-footer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;

  > * {
    margin: auto;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;
}

.page-footer__design {
  margin-top: 40px;
}

.design {
  display: flex;
}
