.page-header {
  background-color: $menu-main-color;
  z-index: 10;
  opacity: 0.99;

}

.page-header__logo-image {
  margin-top: 22px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.page-header__toggle {
  @include visualy-hidden;
  margin-right: 20px;
  margin-top: 22px;
  margin-bottom: 25px;
}

@media (min-width: 660px) {
  .page-header__logo {
    display: block;
    position: relative;
    height: 109px;
    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 27px;
      @include size (147px, 40px);
      background-image: url("../img/logo-pink-blue-mobile.svg");
      background-repeat: no-repeat;
      // background-position: center;
    }
  }
  .page-header__logo-image {
    // display: none;
    @include visualy-hidden;

    }
}
