.page-footer {
  @include padding-lr (34px);
  padding-top: 40px;

  @include flex (column, flex-start, stretch, nowrap);
}

.page-footer > * {
  margin: 0 auto;
}

.page-footer__social {}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;
}

.page-footer__design {
  margin-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 660px) {
  .page-footer {
    min-height: 127px;

    @include flex (row, space-between, center, nowrap);
    @include zero-indent;
    @include padding-lr (20px);
    z-index: 10;
    background-color: $page-color;
    opacity: 0.99;
  }

  .page-footer > * {
    @include zero-indent;

  }
}

@media (min-width: 660px) {
  .page-footer {
    min-height: 197px;

    @include padding-lr ($padding-desktop);
    z-index: 10;
    background-color: $page-color;
    opacity: 0.99;
  }

  .page-footer > * {
    @include zero-indent;

  }
}
