.photo-flow {
  margin-top: -14px;
  background-color: $page-color;
  z-index: 3;
  padding-left: $padding-photo-flow;
  padding-right: $padding-photo-flow;
  opacity: 0.99;
  // padding-top: 54px;
}

.photo-flow__tittle {
  @include visualy-hidden;
}

.photo-flow__list {
  @include list-style-none;
  @include zero-indent;
}

.photo-flow__item {
  @include zero-indent;
  margin-bottom: $padding-photo-flow;
}

.photo-flow__footer {
  @include font($font-size-normal, 30px, 400, $main-font-color);
  @include padding-lr (15px);
  padding-top: 10px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .photo-flow__list {
    @include flex (row, center, flex-start, wrap);
  }

  .photo-flow__item {
    flex-basis: ($tablet-width / 2) - $padding-photo-flow * 1.5;
    min-height: 455px;
    margin-right: $padding-photo-flow;

    &.post--panorama {
      width: $tablet-width - $padding-photo-flow * 2;
    }

    &:first-child {
      // flex-grow: 2
    }

    &:nth-child(2n-1) {
      margin-right: 0px;
    }
  }

  .photo-flow__footer {
    @include font($font-size-medium, 30px, 400, $main-font-color);
    @include padding-lr (100px);
    margin-bottom: 70px;
  }
}
