.post {
  background-color: $card-color;
}

.post .post__link {
  @include link-decoration;
  display: block;
  overflow: hidden;
}

.post--panorama .post__link {
  overflow: visible;
}

.post__review {
  @include zero-indent;
}

.post__wrapper {
  @include padding-lr (5.63%);
}

.post__likes,
.post__review {
  text-align: left;
}

.post__author {
  @include font($font-size-normal, 24px, 700, $main-font-color);
  font-style: normal;
}

.post__time {
  @include font($font-size-little, 24px, 300, $main-font-color);
}

.post__text {
  @include font($font-size-normal, 24px, 400, $main-font-color);
}

.post__image {
  @include size (100%, 180px);
  object-fit: cover;

  &--panorama {
    @include size (118%, 137px);
    transform: translateX(0 - 6.25%);
  }
}
//
//.post__likes {
//}

@media (min-width: $tablet-width) {
  .post__wrapper {
    @include flex (column, space-between, stretch, nowrap);
    @include padding-lr (28px);
    @include padding-tb (24px);
    margin-top: -5px;
    min-height: 155px;
  }

  .post__likes,
  .post__review {
    text-align: left;
  }

  .post__text {
    margin-top: 0;
  }

  .post__image {
    @include size (100%, 300px);

    &--panorama {
      @include size (106.5%, 509px);
      transform: translateX(0 - 3%);
      object-fit: cover;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .post__image {
    @include size (100%, 400px);

    &--panorama {
      @include size (127.6%, 506px);
      transform: translateX(0 - 10.8%);
    }
  }
}
