.preview {
  @include padding-lr(22px);
  min-height: 185px;
  margin-top: -18px;
  margin-bottom: 0;
  background-color: $page-color;
  padding-top: 40px;

  &--main{
  margin-top: 0;
  min-height: 230px;
  }
}

.preview__text {
  @include font($font-size-normal, 30px, 400, $main-font-color);

  &--main {
    @include font($font-size-big, 36px, 300, $main-font-color);
    display: block;
    }
}

@media (min-width: $tablet-width) {
  .preview {
    @include padding-lr (0);
    padding-top: 90px;
    min-height: 228px;
    @include flex (row, center, stretch, nowrap);


    &--main {
      margin-top: 0;
      padding-top: 0px;
      @include flex (column, center, center, nowrap);
    }
  }

  .preview__text {
      @include padding-lr (85px);
      @include font($font-size-medium, 30px, 400, $main-font-color);

      &--main {
        @include font(40px, 50px, 300, $main-font-color);
        @include padding-lr (22px);

    }

    &--main:last-child {
      width: 390px;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .preview {
    @include padding-lr($padding-desktop + 60px);
    padding-top: 70px;
    min-height: 322px;

    &--main {
      margin-top: 0;
      padding-top: 0px;
      @include flex (column, center, center, nowrap);
    }

  }

  .preview__text {
    @include font($font-size-medium, 30px, 400, $main-font-color);

    &--main {
      @include font($font-size-tablet-tittle, 50px, 300, $main-font-color);
    }

    &--main:last-child {
      width: 500px;
    }
  }
}
