.price {
  background-color: $card-color;
  padding-top: 60px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.price__tittle {
  @include visualy-hidden;
}

.price__toggles {
  margin-top: 45px;
}

.price__wrapper {
  overflow: hidden;
}
