.reviews {
  background-color: $page-color;
  z-index: 2;
  margin-top: -50px;
  padding-top: 50px;
  margin-bottom: 60px;
}

.reviews__tittle {
  @include visualy-hidden;
}

.reviews__list {
  @include list-style-none;
}

.reviews__quote {
  @include zero-indent;
}

.reviews__toggles {
  margin-top: 45px;
}
