.table {
  display: table;
  // display: table-column-group;
  border-collapse: collapse;
  @include margin-lr (20px);
}

.table__cell-1,
.table__cell-2,
.table__cell-3, {
  display: table-row-group;
}

.table__caption {
  display: table-caption;
}

.table__column {
  // display: table-column;

  &--charact {
    display: none;
  }
}

.table__header {
  display: table-header-group;
  @include min-size (276px, 98px);
  border: 2px solid $main-font-color;
  background-color: $main-font-color;
  @include flex (column, center, stretch, nowrap);
}

.table__cell {
  @include min-size (280px, 63px);
  border: 2px solid #e5e5e5;
  background-color: $page-color;
  @include flex (row, space-between, baseline, nowrap);
  padding-left: 23px;
  padding-right: 13px;
  // display: table-cell;
}

@media (min-width: $tablet-width) {
  .table__header {
    @include min-size (154px, 75px);

    &--charact {
      @include visualy-hidden;
    }
  }

  .table__cell {
    @include min-size (152px, 45px);

    &--charact {

    }
  }

  .table__column {

    &--charact {
      display: block;
    }
  }

}
